$cuyitoBanner: url('./assets/welcome-cuyito.png');
$bbCuyito: url('./assets/bb-cuyito.png');
@font-face {
  font-family: 'Segoe Script';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe Script Regular'),
        url('./assets/Segoe-Script.woff') format('woff');
}
@font-face {
  font-family: 'MS Gothic';
  font-style: normal;
  font-weight: normal;
  src: local('MS Gothic'),
        url('./assets/MS-Gothic.woff') format('woff'),
        url('./assets/MS-Gothic.ttf') format('truetype');
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe Script', 'MS Gothic',
    sans-serif;
  background-color: #FFFCD0;
}

.container {
  margin: 72px auto 0 auto;
  max-width: 1600px;
}
.Title {
  font-family : "Segoe Script";
  font-size: xx-large;
  color: #7E541C;
}

.MuiToolbar-root {
  background: #FFE7C7
}
.MuiIconButton-label {
  color: #7E541C;
}
.Navbar-actions {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.MuiButton-label {
  color: #707070;
}
.borderBtn::before {
    position: absolute;
    content: '';
    width: 2px;
    display: inline-block;
    background: #707070;
    opacity: 1;
    height: 45px;
    left: 0px;
}
.welcome-banner {
  width: 1600px;
  height: 586px;
  background-image: $cuyitoBanner;
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome-label {
  top: 35px;
  left: 75px;
  text-align: left;
  font-size: 70px;
  font-family: "Segoe Script";
  letter-spacing: 0;
  color: #FFE7C7;
  opacity: 1;
  position: absolute;
}
.description-title {
  font-size: 61px;
  font-weight: 70;
  font-family: "MS Gothic";
  color: #752300;
  text-align: center;
}
.description-text {
  font-size: 61px;
  font-weight: 70;
  font-family: "MS Gothic";
  color: #752300;
  text-align: center;
}
.top-piggies {
  background-color: #FFCBE6;
}
.top-piggies-label {
  font-size: 61px;
  font-weight: 70;
  font-family: "MS Gothic";
  color: #752300;
  text-align: center;
}
.bb-cuyito-img {
  width: 480px;
  height: 192px;
}
.MuiPaper-root {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color:rgba(0, 0, 0, 0) !important;
}
.cuyito-name-title {
  margin: 15px 0 20px 0;
  font-size: 51px;
  font-weight: 61;
  font-family: "MS Gothic";
  text-align: center;
  letter-spacing: 0;
  color: #636363;
  opacity: 1;
}
.cuyito-likes-count {
  margin: 0px 0 20px 0;
  font-size: 51px;
  font-weight: 61;
  font-family: "MS Gothic";
  text-align: center;
  letter-spacing: 0;
  color: #BCBCBC;
  opacity: 1;
}
.heart-icon {
  color: red;
}
.login-title {
  margin: 113px 0 56px 0;
  font-size: 75px;
  font-weight: 120;
  font-family: "MS Gothic";
  color: #752300;
  text-align: center;
}
.login-form-container {
  margin: auto;
  max-width: 760px;
  min-width: 480px;
}
.username-label {
  margin: 0;
  font-size: 45px;
  font-weight: 70;
  font-family: "MS Gothic";
  color: #752300;
  text-align: left;
}
.login-inputs {
  max-height: 70px;
  min-height: 35px;
}
.password-label {
  margin: 25px 0 0 0;
  font-size: 45px;
  font-weight: 70;
  font-family: "MS Gothic";
  color: #752300;
  text-align: left;
}
.MuiButton-containedSizeLarge {
  margin: 50px 200px 0px 330px !important;
  text-align: center;
}
.cuyitos-img {
  width: 480px;
  height: 192px;
  margin-left: 130px;
}
.upload-files {
  margin: 50px 500px 0px 115px
}