html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe Script',
    sans-serif;
}

.container {
  margin: 72px auto 0 auto;
  max-width: 1600px;
}
.Title {
  font-family : "Segoe Script";
  font-size: xx-large;
}